@use '../../styles/variable' as vars;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid vars.$colorWhite;
  padding-bottom: 16px;
  .linkWrapper{
    .linkBlock{
      display: flex;
      gap: 8px;
      .arrow {
        color: vars.$colorWhite;
        transition-duration: vars.$duration;
        cursor: pointer;
        &:hover {
          color: vars.$colorYellow;
          transition-duration: vars.$duration;
        }
      }
      .arrowRotate {
        transform: rotate(90deg);
        transition-duration: vars.$duration;
      }
    }
    .list {
      border: none;
      padding: 0 16px;
      overflow: hidden;
      max-height: 0;
      transition: max-height vars.$duration ease-in-out;
    }
    .linkWrapper:first-child {
      padding: 18px 0 0;
    }
  }
  .linkWrapperOpen {
    .list {
      max-height: 1000px;
    }
  }
}
