$primaryDark: #1A2329;
$colorBlack: #000;
$colorWhite: #FAFAFA;
$colorWhite-100: #e4e4e4;
$colorWhite-200: #777777;
$colorYellow: #FFD163;
$colorGreen: #24D364;
$colorBlue: #199AF5;
$colorBlueLight: #E9EDF8;
$colorBlueLight-100: #b4b4b4;
$colorBlueLight-200: #818181;
$colorGrey-200: #616161;
$colorRed: #e20000;

$lightGrin-100: rgba(106, 224, 117, 0.6);
$lightGrin-200: rgba(106, 224, 117, 0.8);
$lightGrin-300: rgba(106, 224, 117, 1);

$colorRed-100: rgba(255, 0, 0, 1);

$colorGrey-100: rgba(127, 122, 122, 1);

$input-bg: rgba(236, 249, 232, 1);

$duration: 0.3s;