$primaryDark: #1A2329;
$colorBlack: #000;
$colorWhite: #FAFAFA;
$colorWhite-100: #e4e4e4;
$colorWhite-200: #777777;
$colorYellow: #FFD163;
$colorGreen: #24D364;
$colorBlue: #199AF5;
$colorBlueLight: #E9EDF8;
$colorBlueLight-100: #b4b4b4;
$colorBlueLight-200: #818181;
$colorGrey-100: #b1b1b1;
$colorGrey-200: #616161;
$colorRed: #e20000;

$lightGrin-100: rgba(161, 226, 141, 0.2);
$lightGrin-200: rgba(161, 226, 141, 0.4);
$lightGrin-300: rgba(161, 226, 141, 1);

$duration: 0.3s;